@import url('https://fonts.googleapis.com/css?family=Catamaran:200,400,600,800');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);


a,p,h3,h2,h4,label,textarea{
	font-family: 'Catamaran', sans-serif;
	font-weight: 600;
}
.nav_color2 {
	font-family: 'Catamaran', sans-serif;
	font-weight: 800;
}
p{
	margin:0px;
}
h4{
	font-size: 14px;
}
ul{
	margin:0px;
}

img{
	width: 100%;
}
a{
	font-weight: 600 !important;
}

.p400{
	font-weight: 400!important;

}
.modal-content {
    position: relative;
    background-color: #F8F8F8 ;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #f1dd38;
    border-radius: 20px 0px;
    outline: 0;
    text-align: center;
}

.exit{
    transform: translateY(-30px);
}

#botones{
	display: none;
}

.right{
	float:right;
	margin-right: 30px;
}
.displayno{
	display:none !important;
}
.displayyes{
	display:initial !important;
}

.img_height{
	height: 100% !important;
	width: 100%;
}

.img_Container{
	width: 100%;
	margin:auto;
}

.oferta{
	position: relative;
    min-height: 250px;

}
.captionOferta{
	height: 100%;
    position: absolute;
    right: 0;
    padding:20px;
}
.captionOferta p{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 25px;
}


#gallery{
	margin-top: 4px;
}

/*body.modal-open {
    position: fixed;
}*/

#clearBoth
{
	clear: both;ø
}

.row{
	margin:0px;
}

.row_margin{
	margin: 10px 0px;
}

.navbar-toggle .icon-bar {

    width: 28px;
    height: 4px;
    border-radius: 5px;
}

#services{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#politica > p{
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 400;
}

#modal > div > div > p{
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 400;
}

#checkboxLabel{
	padding-top: 0px !important;
}



.exitPolitic{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}


#sub_menu{
	background-color: #f1dd38; /*amarillo principal*/
	width: 100%;
	min-height: 40px;
	padding-left: 0%;
	list-style: none;
	float:left;
}

#tienda{
	color:black;
}

.tiendaRow{
	min-height: 350px;
	width: 100%;
	position: relative;
}

.tiendaSection1{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.tiendaSection2{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.tiendaSectionText{
	padding: 0px 30px;
}

.visita_tienda{
	font-size: 25px !important;

}

.border_tienda{
	border: 2px solid #f1dd38;
	background-color: #555;
	color: #fff;
	padding: 20px;

}


.sub_menu_iz{
	margin-left: 5%;
	float:left;
	margin-right: 15px;	
	transform: translateY(50%);
}

#sub_menu_der{
	float:right;
	margin-right: 5%;	
	margin-top: 10px;
}
#sub_menu_center{
	text-align: center;
	position:absolute;
	transform: translateY(50%);
	width:100%;
}

#logoDiv{
	margin-left: 2%;
	height: 60px;
	position: absolute;
	top: 4px;
}

#logo {
    float: left;
    height: 100%;
}


#logo2 {
    float: left;
    height: 100%;
    display:none;
}
.centrar{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.centrarH{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#menux{
	padding: 10px 0px;
}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 5px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

}
#rowBlanca{
	width: 100%;
	height: 10px;
	background-color: white;
}

/*+++++++++SLIDER++++++++++++*/


.swiper-container {
        width: 100%;
        height: 100%;
        
}
.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
}
#slider{
	height: 400px;
}



/*************************************/

.btnn{
	width: 70%;
	height: 80px;
	margin: auto;
	background-color: #f1dd38;
	border-radius: 20px;
}

.press{
	font-size: 22px;
	font-weight: 800;
	white-space: initial;
}

#bs-example-navbar-collapse-1{
    border-color: #f1dd38;
}

.navbar{
	margin-bottom: 0px;
}

.nav_color{
	color: #f1dd38;
	font-size: 16px;
}

.nav_color2{
	color:  #383e42;
	font-size: 13px;
}

.navbar-default{
	background-color: #383e42; /*gris principal*/
    border-color: none;
    border:none; 
    border-radius: none;
}

.buena_letra{
	font-size: 17px;
	font-weight: 600;
}

.container-fluid {
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: none; 
    margin-left: none; 
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f1dd38;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px; 
    padding-left: 0px; 
}

.thumb_text{
	margin-top: 20px;
}

.thumbnail h3{
	min-height: 55px;
	text-align: center;
}

#thumb{
	background-color: #383e42;
}

#thumb2{
	background-color: #383e42;
}

.caption p {

	min-height: 110px;
}
.row_padding{
	padding: 3%;
}

.thomb_padding{
	padding: 0px 1%;
}

.row_padding2{
	padding: 6%;
}

.row_padding52{
	padding: 5% 0% 3% 0%;
}

#row_padding_botones{
	padding: 1%;
}

.titulos{
	font-size: 30px !important;
	font-weight: 800 !important;
	margin-bottom: 30px;
}

.colorfont_amarillo{
	color: #f1dd38 ;
}

.colorfont_gris{
	color: #383e42;
}

.colorfont_grisclarito{
	color: #EEE;
}

.colorfont_blanco{
	color: white;
}


.Im_derecha{
	margin-left: 5%;
	border-radius: 20px;
}

.Im_izq{
	margin-right: 5%;
	border-radius: 20px;
}

.bot{
	background-color: #f1dd38;
	color:#383e42;
}

.fot{
	padding-left: 5%;
}

.gris{
	background-color:  #383e42;
}

#fotP{
	font-weight: 200;
	background-color: #252629;
	color: white;
	font-size: 10px;
	padding: 3px 2px 2px 7.5%;
}

footer article{
	float:left;
	color: #777777;
	line-height: 150%;
	-ms-flex: auto;
	flex: auto;
	font-size: 15px;
	/*border:2px solid red;*/
}

#MailBox{
	width: 100%;
}


#Newsletter{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
	color:#f1dd38;
}

#inputEmail{
	width: 63%;
	background-color: #777777;
	color:#f1dd38;
	border:none;
	border-radius: 7.5px 0px 0px 7.5px;
	display: inline;
	margin:0px;
	float:left;
	box-shadow: none;
}

#botEmail{
	float:left;
	background-color: #f1dd38;
	color:#252629;
	border-radius: 0px 7.5px 7.5px 0px;
	border:none;
	display: inline;
	margin:0px;
	height: 34px;
}



/*Social icons*/

.list-unstyled {
padding-left: 0;
list-style: none;
}
.list-inline li {
display: inline-block;
padding-right: 5px;
padding-left: 5px;
}
 
/*Cambio el tamaño de letra o fuente*/
.social-icons .fa {
font-size: 2em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
color: #FFF;
color: rgba(255, 255, 255, 0.8);
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.social-icons.icon-circle .fa{
border-radius: 50%;
}

.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
-webkit-transform: scale(1.1) rotate(360deg);
-moz-transform: scale(1.1) rotate(360deg);
-ms-transform: scale(1.1) rotate(360deg);
-o-transform: scale(1.1) rotate(360deg);
transform: scale(1.1) rotate(360deg);
}
.sociall:hover{background-color: #f1dd38 !important;}

.social-icons .fa-facebook{background-color:#3C599F;} 
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-twitter{background-color:#32CCFE;}
.social-icons .fa-youtube{background-color:#C52F30;}


#InfoLeft{
	width: 100%;
	background-color: #f1dd38;
	padding: 5% 10%;
}

#InfoLeft h3{
	font-weight: 800;
	font-size: 40px;
}

.grisClarito{
	background-color: #EEE;
}

.tierra{
	background-color: #5B5A5C;
}

#InfoLeft h4{
	margin-top: 20px;
	font-weight: 800;
	font-size: 20px;
	margin-bottom: 20px;
	min-height: 
}

.marginTop{
	margin-top: 50px;
}

#map1{
	display:none;
}

.marginTopNone{
	margin-top: 0px;
}

.colIzPading{
	padding-right: 2%;
}

.colDerPading{
	padding-left: 2%;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px; 
}

.form-group {
    margin-bottom: 20px;
}

.margin_bottom{
	margin-bottom: 5% !important;
}

#subBot{
	background-color: #f1dd38 !important;
}

#fixmenu{
	border-top: 2px solid #f1dd38;
	display: none;
}

#topbar{
	background-color: #f1dd38;
	display: none;
}



#servicios{
	width: 100%;
	background:url(../img/bg_services.png); /* Nuestra textura */
	background-repeat:repeat; /* Indicamos que la textura se repetira */
	background-attachment: fixed; /* Establecemos una posicion fija para la textura */
	min-height: 360px;
}

.titulos_servicios{
	font-size: 22px !important;
	font-weight: 800 !important;
	color: white;
}
.titulos_servicios:hover{
	color: #f1dd38;
}
.entero{
	width: 100%;
	display: inline-block;
}
.der{
	float: right;
	padding-right: 5px;
}
.iz{
	float: left;
	padding-left: 5px;
}
.row_padding3{
	padding: 12% 2%;

}
#img_coche{
	height: 100%;
}

.container1250{
	max-width: 1250px;
	margin: auto;
}



#carRep{
	height: 300px;
	top: 40px;
	position: relative;
	width: 307px;
}

.nav_fix{
	z-index: 10000;
	text-align: center;
	width: 100%;
	position: absolute;
}

.fixed {
    position:fixed;
    top:0;
}

#nav_ser{
	background-color: rgba(56, 62, 66, 0.8) ;
	display: inline-block;
	float: initial !important;
	width: 100%;
	padding: 10px 0;
	
}

.ser{
	width: 24%;
	height: 50px;
	z-index: 100000000;
	display: inline-block;
    display: inline-block !important;
}

.navbar-nav {
     margin: 0px; 
}

.ser img{
	height: 100%;
}

.error{
	box-shadow: 0px 1.5px 0px 0px #f44242 !important;
}

.errorText{
	color:#f44242;
	font-size: 20px;
}
.errorBox{
	outline: 2px solid #f44242;
}
.noerror{
	box-shadow: 0px 1.5px 0px 0px #55d9cb !important;
}
.noErrorText{
	color:green;
	font-size: 20px;
}
.noerrorBox{
	border: 2px solid #55d9cb;
}


.modal-title p{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 30px;
	color:#383e42; 
}

#login{
	text-align: center;
}

.center{
	text-align: center;
}

#botLog{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 8px 15px;
}
#botLog p{
	font-size: 16px;
	font-weight: 600;

}

.modal-footer {
    border-top: 1px solid #f1dd38 !important; 
}

#menuBot{
	display: none;
}


.vertMenu {
  flex: 0 0 250px;
  padding-right: 48px;
}

#adminlogmain{
	background-color: orange;
}

.T_mar{
	margin-top: 0px !important;
	padding-bottom: 20px;
}

.carDiv {
    height: 176px;
    text-align: center;
    width: 176px;
    border-radius: 50%;
    background-color: #f1dd38;
    float: left;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
	transition: all 1s ease;
	margin: 2px;
}

.fa-5x {
    font-size: 9em !important;
}

.fa-4x {
    font-size: 6em !important;
}

#plus{
	position: relative;
    top: 50%;
    -ms-transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
}

#tipoVehiculo{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.carDiv:hover{
	border-radius: initial;
	.deleteVeh{
		display:initial;
	}
}

.carDiv p{
	font-size: 18px;
    color: #555;
    position: relative;
    top: 10%;
    margin-top: 5px;
    font-weight: 400;
}

#titAdd{
	margin-top: 0px;
	-ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

#lArrow{
	float:left;
	color: #f1dd38;
	margin-left: 10px;
}

.arriva{
	-ms-transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    transform: translateY(15%);
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: black;
    background-color: #f1dd38;
    border-color: #f1dd38;
}

.derecha{
	float: right;
}

#rPlus{
	color: #f1dd38;
	margin-right: 10px;
}


#allVehicles {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

#allVehicles a{
	color:black;
	height: 100%;
    width: 100%;
    display: block;
    text-decoration:none;  
} 

.enlaceVeh{
    width: 100%;
    height: 100%;
}

.vehImg{
	width: 96px;
	height: 84px;
	margin: auto;
}

.menuTit{
	padding:10px;
	background: #383e42;
	font-size: 15px;
	color: #f1dd38;
	border-radius: 15px 15px 0px 0px;
	text-align: center;
	font-weight: 600;
}
.menuItems{
	padding:15px 10px;
	list-style: none;
	font-size: 14px;
	font-weight: 600;

}
.menuGrup{
	color: #383e42;
	padding-left: 10px !important;
	background: #faf2cc;
	border-radius: 0px 0px 15px 15px;
	margin-bottom: 7px;
}

.menuGrup :hover{
	cursor: pointer;
}

.iconMenu{
	width: 40px;
}

.deleteHist{
	float: right;
}

.deleteVeh{
	top: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    font-size: 18px !important;
}

#infoVeh{
	display: inline-block;
}



/*+++++++++Media QUERYS++++++++++++*/
@media (min-width: 767px){
	.navbar {
	    border-radius: 0px;
	}

}

@media only screen and (max-width: 767px) {
	#displays{
		display: none;
	}
	body.modal-open {
		overflow: hidden;
		position: fixed;
	}

	body.viewport-lg {
	position: absolute; 
	}

	body {  
		overflow-x: hidden;
		overflow-y: scroll !important;
	}
	.ser{
	width: 20%;
	height: 50px;
	}

}

@media only screen and (max-width: 840px) {
	#logo2 {
    display: inline;
}
	#logo {
   display: none;
}
#logoDiv{
	margin-left: 0%;
}

}
@media only screen and (max-width: 992px) {
    /* For mobile phones: */
    .img_Container{
	width: 100%;
	}	
  	.btnn{
  		width: 100%;
  		margin-top: 2%;
	}
	.bot{
  		width: 100%;
  	}
  	.Im_derecha, .Im_izq{
  		margin: 0%;
  	}
  	.colIzPading{
		padding-right: 0px;
  	}
	.colDerPading{
		padding-left: 0px;
	}

	#map1{
	display:initial; 
	}

	#map2{
	display:none;
	}
	.marginTopNone{
		margin-top: 50px;
	}
	#exitModal{
		display:none;
	}
	#servicios{
		display: none;
	}
	#menuBot{
		display: initial;
	}
	.vertMenu{
		display: none;
	}

	.tiendaSection1{
		position: relative;
		top: 0;
		transform: translateY(0%);
		padding:20px 5px;
	}

	.tiendaSection2{
		position: relative;
		top: 0;
		transform: translateY(0%);
		padding:20px 5px;
	}
	.captionOferta{
		position: relative;
	
	}
	.captionOferta p{
		position: relative;
		transform: translateY(0%)

	}
	.fot{
		padding-left: 0%;
		padding-top: 20px;
	}

	.visita_tienda{
	font-size: 15px !important;
	}
	.tiendaSectionText{
		padding: 0px;
	}
}



@media only screen and (max-width: 1092px) {
    /* For mobile phones: */
    .btnn{
  		width: 97%;
  		margin-top: 2%;
	}
}



.swiper-pagination-bullet-active{
	background-color: #f1dd38;
}


#modal{
 	width:80% !important;
 	margin: 3% auto !important;
 }


.window .header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: rgba(241, 221, 56, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out, background 1s ease-out;
  transition: all 0.5s ease-out, background 1s ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 1;
}
.window .header .burger-container {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 50px;
  cursor: pointer;
  left:50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.window .header .burger-container #burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin-left: 15px;
  top: 50%;
}
.window .header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #FFF;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.window .header .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
}
.window .header .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(6px) rotate(0deg);
          transform: translateY(6px) rotate(0deg);
}
.window .header .icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.window .header ul.menu {
  position: relative;
  display: block;
  padding: 0px 48px 0;
  list-style: none;
} 
.window .header ul.menu li.menu-item {
  border-bottom: 1px solid #333;
  margin-top: 5px;
  -webkit-transform: scale(1.15) translateY(-30px);
          transform: scale(1.15) translateY(-30px);
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.window .header ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.56s;
          transition-delay: 0.56s;
}
.window .header ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.49s;
          transition-delay: 0.49s;
}
.window .header ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}
.window .header ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
.window .header ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.window .header ul.menu li.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}
.window .header ul.menu li.menu-item:nth-child(7) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}
.window .header ul.menu li.menu-item:nth-child(8) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.window .header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #f1dd38;
  font-family: "Ek Mukta", sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}
.window .header.menu-opened {
  height: 100%;
  background-color: #383e42;
  -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  transform:translateY(-1px);
}
.window .header.menu-opened .burger-container {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.window .header.menu-opened .burger-container #burger .bar {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.window .header.menu-opened .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}
.window .header.menu-opened .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}
.window .header.menu-opened ul.menu li.menu-item {
  -webkit-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  opacity: 1;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.27s;
          transition-delay: 0.27s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.34s;
          transition-delay: 0.34s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.41s;
          transition-delay: 0.41s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.48s;
          transition-delay: 0.48s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.62s;
          transition-delay: 0.62s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
  -webkit-transition-delay: 0.69s;
          transition-delay: 0.69s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(8) {
  -webkit-transition-delay: 0.76s;
          transition-delay: 0.76s;
}

.padre {
	position: relative;
}

.hijo {
	position: absolute;
	top: 20%;
}

.vdr_modal-covid{

	display: flex;
    align-items: center;
}

.vdr_modal-covid .modal-dialog{

	max-width: 900px;
	width: 90%;
	margin: 0 auto;
}
.vdr_modal-covid .modal-body{

	padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 767px){
	
	.vdr_modal-covid .modal-body{

		padding-left: 15px;
	    padding-right: 15px;
	}

	.vdr_modal-covid  #mensj{

		font-size: 15px;
    	text-align: justify;
	}
}

 .vdr_modal-covid #modal_title{

 	margin-bottom: 0px;
 	padding-top: 20px;
 }

 .vdr_modal-covid-subtitle{

 	font-size: 20px;
    margin-bottom: 25px;
 }


.vdr_modal-covid-bg{

	background: url(../img/desinfeccion.jpg);
    background-size: cover;
    background-position-y: center;
    position: relative;
    border-radius: 5px !important;
    border: none;
}

.vdr_modal-covid-bg:before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffd9;
	height: 100%;
	border-radius: 5px !important;
}


.vdr_modal-covid-close{

	margin-top: 30px;
    float: none;
    color: #3e3e3e;
    opacity: .9;
    margin-bottom: 50px;
}






