@import url('https://fonts.googleapis.com/css?family=Roboto');

a,p,h1,h2,h3,h4,label,input{
	
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
body{

	overflow: hidden;
}
.vdr-formPage{

	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vdr-formPage__form{

	width: 60%;
}

@media (max-width: 768px) { 

	.vdr-formPage__form{

		width: 80%;
	}
}

@media (max-width: 599px) { 

	.vdr-formPage__form{

		width: 95%;
	}
}

.form-control{

    box-shadow: none;
}

.form-control:focus {

    border: 1px solid #868686;
    box-shadow: none;
}

.form-group button{

    padding: 5px 20px;
    background: none;
    border-radius: 4px;
    transition: all .5s;
}


.form-group button:hover{

    border-radius: 0px;
    border: 1px solid #868686;
}


.form-group button:focus{
	
    border: 1px solid #868686;
    box-shadow: none;
    background: none;
    outline: none;
}

.vdr-error{

    border: 1px solid red;
    box-shadow: none;
}

.vdr-form-error{

	color:red;
}

.vdr-telonPage{

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 100;
}

.vdr-telonPage--left, .vdr-telonPage--right{

    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    top: 0;
    transition: all 2s;
}

.vdr-telonPage--left{

	left: 0;
    background: #fbbc05;
    
}

.vdr-telonPage--right{

    right: 0;
    background: #eb4335;
}

.vdr-telonPage--right img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #34a852;
    padding: 5px;
    cursor: pointer;
}

.vdr_telonOpen .vdr-telonPage--left{

  left: -50%;
}

.vdr_telonOpen .vdr-telonPage--right{

    right: calc(-50% - 128px - 5px);  /* 50% pantalla, 128px img, 5px padding */
}